<div class="card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">Time picker</h4>
    <p class="card-text">Time picker component.</p>
    <span class="btn btn-primary" {{action 'toggle'}}>Detail</span>
  </div>


{{#if isShow}}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Detail datepickeru</li>
  </ul>
{{/if}}
</div>